.vscode/**
.github/**
src/**
coverage/**
node_modules/**
**/*.ts
**/*.map
out/**/*.test.js
out/test/**
out/__mocks__/**
tsconfig.json
tsconfig.test.json
jest.config.js
.mocharc.json
.vscode-test.json
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
.gitignore
**/*.vsix
TESTING.md
PUBLISHING.md
